doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    block js
      script(src='http://localhost:35729/livereload.js')
      script(data-main='/js/app', src='/components/requirejs/require.js')
    block feed
      link(rel='alternate', type='application/atom+xml', href='/feed/atom.xml')
      link(rel='alternate', type='application/rss+xml', href='/feed/rss20.xml')
  body
    block content
