div.drop-area {
    width: 400px;
    height: 120px;
    border: 4px dotted #AABBFF;
    border-radius: 16px;
}

div.thumbnails-area {
    width: 400px;
    height: 150px;
    border: 2px solid #AABBEE;
}

div.edit-area {
    min-width: 400px;
    width: 50%;
    float: left;
}

div.preview-area {
    overflow: hidden;
}