body {
    /* for navbar */
    padding-top: 60px;
}

div.diary {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
}

div.diary-date {
    display: block;
    width: 4em;
    height: 4em;
    float: left;
    border: solid 1px #357ebd;
    border-radius: 4px;
    margin: 0px 8px 4px 2px;
    overflow: hidden;
    text-align: center;
    background-color: #428bca;
    color: white;
}

div.diary-date div {
    padding: 0px;
    margin: 0px;
    line-height: 1.1;
}

div.diary-date-month {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

div.diary-date-date {
    font-size: 24px;
    font-weight: bold;
}

div.diary-date-year {
    font-size: 10px;
}

/* image auto shrink */
div.diary img {
    max-width: 100%;
    height: auto;
}

div.comment h3 {
    font-size: 18px;
}
div.comment li {
    font-size: 100%;
}
div.comment-cover span {
    cursor: pointer;
}

div#infiniteScrollTrigger {
    height: 1px;
}

div.sidebar-widget h2 {
    font-size: 20px;
    line-height: 22px;
}

div.scroll-to-top {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 4px;
    right: 4px;
    background: #49e url('/img/images.png') no-repeat 0px 0px;
    border-radius: 10px;
    cursor: pointer;
}
div.scroll-to-top-init {
    opacity: 0;
}

div.calendar {
    font-size: 85%;
}
div.calendar table {
    width: 100%;
}
div.calendar td.prev-month {
    text-align: left;
}
div.calendar td.year-month {
    text-align: center;
}
div.calendar td.next-month {
    text-align: right;
}
div.calendar table.dates td {
    border: 1px solid #ccc;
    width: 14.29%;
    height: 2em;
    text-align: center;
}
div.calendar .week-sun {
    color: red;
    background-color: #ffecec;
}
div.calendar .week-sat {
    color: blue;
    background-color: #ecf0ff;
}
div.calendar .diary-exists {
    font-weight: bold;
}

div.social-links {
    font-size: 125%;
}
div.social-link-icon {
    width: 32px;
    height: 32px;
    margin: 0px 2px;
}
div.social-link-icon-rss {
    display: inline-block;
    background: url('/img/images.png') no-repeat -80px 0px;
}